@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
nav {
  display: fixed;
  border: 1px solid #000;
}

nav ul {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}

nav ul li a{
  text-decoration:none;
  color: #204156;
  font-family: Open Sans,"Trebuchet MS", Helvetica, sans-serif;
  padding-left: 20px;
}

nav h2{
  float: right;
  padding-right: 20px;
  font-family: Courgette, "Trebuchet MS", Helvetica, sans-serif;
  color: #204156;
  margin-top:15px;
}

.topbar{
  list-style-type: none;
  float: right;
}
.logos {
  list-style-type: none;
  float: right;
  display: flex;
}

body {

  background-image: url('http://i.imgur.com/gQqamZD.jpg');
  background-attachment: fixed;
  background-size:cover;
}

.block_one {
height: 100vh;
position: relative;
}

.block_one h1{
  
  margin:auto;
   text-align: center;
  margin-top:18rem;
  font-size: 50px;
  font-family: Josefin Sans, Chelsea Market,"Trebuchet MS", Helvetica, sans-serif;
    color: white;
  text-shadow: 2px 2px black;
}
.aboutme {
  position: relative;
   font-family: Josefin Sans,"Trebuchet MS", Helvetica, sans-serif;
   
   min-height: 100vh;
   margin:auto;
   display:block;
}

.aboutme h2 {
 
  text-align: center;
  width: 50%;
  font-weight: normal;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px orange;
}

.aboutme p {

width: 50%;
 margin-top: 200px;
 text-align:center;
   color: white;
  text-shadow: 2px 2px black;
 font-size: 35px;
}

.experience {
   font-family: Josefin Sans,"Trebuchet MS", Helvetica, sans-serif;
   min-height: 100vh;
   display:block;
   margin:auto;
position: relative;
}

.experience h2 {

  text-align: center;
  width: 50%;
  font-weight: normal;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px orange;
  
}

.experience p {
width: 50%;
 margin-top: 80px;
 text-align:center;
   color: white;
  text-shadow: 2px 2px black;
 font-size: 35px;

}

.contact {
   font-family: Josefin Sans,"Trebuchet MS", Helvetica, sans-serif;
   min-height: 100vh;
   display:inline;
   position: relative;
}

.contact h2 {

  text-align: center;
  width: 50%;
  font-weight: normal;
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px orange;
}








/*
.aboutme h2 span {
  background: black;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.aboutme h2:before {
  background: black;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

.aboutme h2:before {
  left: 0;
}
*/